@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

nextjs-portal {
  display: none !important;
}

.prose p {
  margin-bottom: 1.25rem;
  text-align: justify;
  line-height: 1.75;
}

.prose p:last-child {
  margin-bottom: 0;
}

.prose strong {
  font-weight: 700;
  color: #111827;
}
